.container {
    max-width: 1100px;
}
/*============= Menu =============*/
.menubar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 10rem;
  padding: 3rem 5rem;
  background-color: var(--section-color);
}
.menubar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu {
  position:static;
  display: flex;
  width: auto;
  background-color: transparent;
  box-shadow:none;
}
.menu__item {
  margin: 0 0 0 10px;
}
.menu__item a {
  color: var(--text-color);
  padding: 10px 20px;
}
.menu__item a:hover {
  background-color: var(--section-color2);
  border-radius: 8px;
}
.menu-mobile {
  display: none;
}

.profile__data {
  grid-template-columns: 350px auto;
}
.profile__border {
  width: 340px;
  height: 340px;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}
.profile__background {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 320px;
  height: 320px;
  background: linear-gradient(135deg, 
              hsla(var(--hue), var(--sat), var(--lig),.9) 0%, 
              hsla(var(--hue), var(--sat), var(--lig), .1) 100%);
  border-radius: 50%;
  overflow: hidden;
}
.profile__background img {
  width: 100%;
}

footer .logo {
  height: 10rem;
}
  